{% extends 'community.html' %}>

{% block content %}
  <h1>리뷰작성</h1>
  <form action="" method="POST">
    {% csrf_token %}
      <button type="submit" class="btn btn-info mb-2 ml-auto mr-0">Confirm</button>

      <div class="form-group">
        <p><label for="id_title">Title:</label>
        <br>
        <input type="text" name="title" maxlength="100" required="" 
        style="width:400px" id="id_title" class="form-control"></p>
        <p><label for="id_movie_title">Movie title:</label>
        <input type="text" style="width:400px" class="form-control" id="id_movie_title" name="movie_title" placeholder="ex)어벤져스">
      </div>
      <div class="form-group">
        <label for="id_rate">평점</label>
        <select class="form-control" id="id_rate" name="rate" style="width:70px">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <p><label for="id_content">Content:</label> 
        <br>
        <textarea name="content" cols="40" rows="10" required="" id="id_content"></textarea></p>
        <!-- User-->
        {% comment %} <p><label for="id_user">User:</label>
          <select name="user" id="id_user">
          <option value="1" selected="">{{user}}</option>
          <option value="" selected="">------</option> </p> {% endcomment %}
        <br>
      </div>
  </form>
{% endblock %}