{% extends 'base.html' %}

{% block style %}
.genre {
	font-size: 60%;
}
.section {
	height: 750px;
	width: 100%;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url({{ movie.poster_path }});
	background-size: cover;
	background-position: center;
}
.img {
	height: 450px;
	margin-top: 150px;
}
.title {
	font-size: 200%;
	margin-top: 150px;
}
{% endblock style %}

{% block content %}
<section class="section">
    
<div class="container">
	<div class="row">
		<div class="col-md-6 mt-3">
			<img alt="Bootstrap Image Preview" class="img" src="{{ movie.poster_path }}"/>
		</div>
		<div class="col-md-6">
			
      <h1 class="title">{{ movie.title }}</h1>
      <br>
      <h1>줄거리</h1>
      <h3>{{ movie.overview }}</h3>
      <br>
      <h3>장르</h3>
			{% for genre in genres %}
			<span class="genre">{{ genre.name }}</span>
			{% endfor %}
		</div>
	</div>
</div>
	<div class="row">
		<div class= "col-6" id="player">
		{% comment %} <iframe src="https://www.youtube.com/embed/{{trailer}}" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
		allowfullscreen	
		></iframe> {% endcomment %}
		</div>
	</div>
	</section>
{% endblock content %}

{% block script %}
	<script>

	</script>
	<style>
	.player {
  position: relative;
  padding-top: 56.25%;
}

.player > iframe {
  position: absolute;
  top: 0;
  width: 500px;
  height: 100%;
}
	</style>
{% endblock  %}