{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 mt-3">
			<h3>
				<h1>영화 상세 정보</h1>
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 mt-3">
			<img alt="Bootstrap Image Preview" src="{{ movie.poster_path }}"/>
		</div>
		<div class="col-md-6">
			<h1>제목</h1>
      <h3>{{ movie.title }}</h3>
      <br>
      <h1>줄거리</h1>
      <h3>{{ movie.overview }}</h3>
      <br>
      <h3>장르</h3>
			{% for genre in genres %}
			<h5>{{ genre.name }}</h5>
			{% endfor %}
		</div>
	</div>
</div>
	<div class="raw">
		<div class= "col-6" id="player">
		<iframe src="https://www.youtube.com/embed/{{trailer}}" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
		allowfullscreen	
		></iframe>
		</div>
	</div>
{% endblock content %}

{% block script %}
	<script>

	</script>
	<style>
	.player {
  position: relative;
  padding-top: 56.25%;
}

.player > iframe {
  position: absolute;
  top: 0;
  width: 500px;
  height: 100%;
}
	</style>
{% endblock  %}