{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
	<div class="row">
  {% for movie in movies %}
		<div class="col-md-4">
      <div class="card text-white bg-dark mb-3" style="max-width: 50rem;">
        <img src="{{ movie.poster_path }}" class="card-img-top" alt="movie_poster" style="height: 500px">
        <div class="card-header" style="font-size: 80%;">{{ movie.title }}</div>
        <div class="card-body">
          <p class="card-text text-style">{{ movie.overview }}</p>
          <a href="{% url 'movies:detail' movie.pk %}" class="btn button">상세정보</a>
        </div>
      </div>
		</div>
  {% endfor %}
	</div>
</div>
{% endblock content %}